files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      set $proxy_x_forwarded_proto $http_x_forwarded_proto;
      if ($http_x_forwarded_proto = '') {
        set $proxy_x_forwarded_proto $scheme;
      }

      proxy_set_header X-Forwarded-Proto $proxy_x_forwarded_proto;

container_commands:
  01_reload_nginx:
    command: "service nginx restart"
